
#form {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.contact-img {
    background-image: url(../../images/keyboard.jpg);
    background-size: cover;
    width: 470px;
    height: 550px;
    margin-top: 14px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.form__h1-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    color: orange;
    font-family: atari;
    position: absolute;
    top: 0;
    right: 250px;
    margin-top: 25px;
}
.contact-title:hover {
    transition: .1s all;
    color: orangered;
}
