/****************************************   GLOBAL STYLES *************************/
/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Mono&display=swap'); 
/* personalized font  */
@font-face {
    font-family: atari;
    src: url(./service/AtariClassic-gry3.ttf);
}

:root {
    --main-font: 'IBM Plex Mono', monospace;

    --orange: rgb(219, 142, 0);
    --light-orange: rgb(242, 167, 28);
    --blue: #004ddb;
    --light-blue: #2760c9;
    --dark-blue: #1e292d; 
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url(./images/bg.jpeg);
    background-size: 50%;
    color: white;
}

html {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    margin-top: 18px;
    margin-right: 50px;
}

li {
    list-style: none;
    margin: 15px 50px;
}

a {
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--orange);
}






/****************************************************************************************/
/****************************************************************************************/
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 992px) {
    
}



