/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Mono&display=swap'); 
/* personalized font  */
@font-face {
    font-family: atari;
    src: url(./service/AtariClassic-gry3.ttf);
}

:root {
    --main-font: 'IBM Plex Mono', monospace;

    --orange: rgb(219, 142, 0);
    --dark-blue: rgb(50, 56, 62); 
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: url(./images/bg.jpeg);
    background-size: 50%;
}

html {
    font-size: 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    margin-top: 18px;
    margin-right: 50px;
}

li {
    list-style: none;
    margin: 15px 50px;
}

a {
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--orange);
}

h1 {
    position: absolute;
    color: var(--orange);
    font-size: 5em;
    font-family: atari;
}

#icon {
    background-image: url(./images/favicon.ico.ico);
    background-size: cover;
    width: 55px;
    height: 50px;
    margin-left: 70px;
    cursor: pointer;
}

.titleContainer {
    position: relative;
    width: 500px;
    height: 225px;
    top: 200px;
    left: 75px;
    animation: fadeIn;
    animation-duration: 3s;
}

.titleContainer p {
    position: absolute;
    color: white;
    font-size: 1.7em;
    font-family: var(--main-font);
    color: rgb(255, 194, 81);
    top: 200px;
    left: 80px;
}

#title-2 {
    top: 80px;
}

.control {
    position: absolute;
    left: 775px;
    bottom: 30px;
    width: 42%;
    animation: fadeInUpBig;
    animation-duration: 3s;
}

h1:hover {
    color: orangered;
}

.titleContainer p:hover {
    color: orangered;
}

.dropDownItemStyle {
    text-align: center;
    font-size: 18px;
}
.dropDownItemStyle:hover {
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 5px black;
}

.dropDownLinkStyle {
    color: blue;
}
.dropDownLinkStyle:hover {
    font-weight: 700;
}

.gameList {
    display: grid;
    justify-content: center;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 20px;
    margin-top: 50px;
}

.gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--orange);
    padding: 0px 50px;
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    font-family: var(--main-font);
}
.gameCard:hover {
    transition: .3s all;
    transform: scale(1.02, 1.02);
}

/* .gameCardHover {
    outline: 1px solid red;
    width: 270px;
    height: 220px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.gameCardLink {
    font-weight: 1000;
    color: orange;
}


/****************************************   GAME DETAIL *************************/
.gameDetail {
    color: white
}

/****************************************************************************************/
/****************************************************************************************/
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 992px) {
    
}
